<a href="#/" id="NAV-LOGO">jot.</a>
<ul>
  <% if (!user.get('id')) { %>
    <li>
      <a href="#/login" id="LOGIN"><i class="icon-login-1"></i></a>
    </li>
    <li>
      <a href="#/users" id="PROFILE-LINK"><i class="icon-user"></i></a>
    </li>
  <% } else { %>
    <li>
      <a href="#/" id="PROFILE-LINK"><i class="icon-home"></i></a>
    </li>
    <li>
      <a href="#/users" id="USERS-LINK"><i class="icon-user"></i></a>
    </li>
    <li>
      <a href="#/jots/new" id="NEW-LINK"><i class="icon-doc-new"></i></a>
    </li>
    <li>
      <a href="#/logout" id="LOGOUT"><i class="icon-logout"></i></a>
    </li>
  <% } %>
</ul>