<h1 class="logo">a brief walkthrough.</h1>
<section>
  <header>
    <h4>getting started.</h4>
  </header>
  <p>
    Jot was designed with simplicity in mind. If this is your first time using jot, you can start by jumping immediately into the markdown editor by clicking <em>Enter</em> on the home page. 
  </p>
  <p>
  </p>
</section>