<div id="hero-banner">
  <header>   
    <h1 class="logo"># welcome to jot.</h1>
    <span class="subheader">The lightweight markdown editor that lives in your browser.</span>
    <a href="#/jots/new" id="enter"><i class="icon-down-circled"></i></a>
  </header>
</div>
