<h1 class="logo">a little bit about jot.</h1>
<section>
  <header>
    <h4>the tale of an editor.</h4>
  </header>
  <p>
    Jot began, not so long ago, as an idea during my days in college: I was taking programming classes and looking for a way to take good notes, ones which weren't written in pencil and marked with <em>(ahem)</em> age. Not long after I discovered markdown, may the gods be praised, but then, flush with triumph, your humble narrator was stricken with another problem: which markdown editor to use? It was then, dear readers, that I decided to build my own markdown editor in the environment I know best: the Web. 
  </p>
  <p>
    Jot is built on a lightning-quick Ruby on Rails back-end and rendered as a single-page application in the browser using Backbone.js. The advantage of a client-side application is that it allows for live editing and previewing within the browser while maximizing ease-of-use and fludity of the user interface.
  </p>
</section>
<section>
  <header>
    <h4>jot features.</h4>
  </header>
  <ul>
    <li>intelligent preview change-follower jumps to the location of your most recent edit</li>
    <li>colorful code syntax highlighting</li>
    <li>live user search functionality</li>
  </ul>
  <ul>
    <li>live, in-browser markdown rendering</li>
    <li>download PDF versions of your favorite jots</li>
    <li>nested commenting on user jots</li>
  </ul>
</section>
