<% if (!!messages) { %>  
  <% messages.forEach(function(m) { %>
    <li class="message"><%= m %></li>
  <% }); %>
<% } if (!!errors) { %>
  <% errors.forEach(function(e) { %>
    <li class="error"><%= e %></li>
  <% }); %>
<% } %>