<form id="JOT-FORM">
  <input type="text" name="entry[title]" id="JOT-TITLE" placeholder="Title" required>
  <input type="text" name="entry[description]" id="JOT-DESCRIPTION" placeholder="Optional description">
  <textarea name="entry[content]" id="JOT-CONTENT" placeholder="Enter your markdown here" required></textarea>
  <div id="MARKDOWN-OUTPUT">
    <div id="PLACEHOLDER">markdown preview</div>
  </div>
  <div class="button-group">
    <button type="button" class="save"><i class="icon-floppy"></i>save</button>
    <button type="reset"><i class="icon-trash"></i>clear</button>
    <button type="button" class="resize-large"><i class="icon-resize-full"></i></button>
  </div>
</form>

