<input type="text" name="user[username]" placeholder="username" required>
<input type="text" name="user[email]" placeholder="gravatar email (optional)">
<input type="password" name="user[password]" placeholder="password" required>
<input type="password" name="user[password_confirmation]" placeholder="confirm password" required>  
<button type="submit" class="signup"><i class="icon-feather"></i> Sign Up</button>
