<form>
  <i class="icon-cancel"></i>
  <textarea name="comment[content]"></textarea>
  <input type="hidden" name="comment[entry_id]" value="<%= comment['entry_id'] %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= comment['parent_comment_id'] %>">
  <button type="submit">Add Reply</button>
</form>