<div class="container">
  <div id="hero-banner">
    <h1 class="logo"># welcome to jot.</h1>
    <span class="subheader">A lightweight markdown editor that lives in your browser.</span>
  </div>
</div>