form#JOT-FORM {
  font-size: 0.9em;
  display: block;
  position: relative;
  @include span-columns(12);
  top: 2em;
  height: 95%;    // default value for unsupported browsers
  @include calc(height, "100% - 2em");
  overflow: hidden;
  >input, >textarea, #MARKDOWN-OUTPUT {
    position: absolute;
    background: $grey1;
    -webkit-appearance: none;
    display: block;
    border-radius: $corner-radius;
    padding: 0.75em 1em 0.75em 1em;
    margin-bottom: 1em; 
    border: none;
    &:focus {
      background: $transparent-grey1;
      outline: none;
    }
    box-shadow: none;
  }
  > input#JOT-TITLE {
    @include span-columns(4);
    top: -3em;
    left: 0;
  }
  > input#JOT-DESCRIPTION {
    top: -3em;
    right: 0;
    @include span-columns(8);
    @include omega(); 
  }
  > div#MARKDOWN-OUTPUT {
    top: 0;
    right: 0;
    background: $transparent-grey1;
    @include span-columns(6);
    @include omega();
    #_WAYPOINT { 
      border-left: 1px solid black;
      @include animation(blink 1s infinite);
    }
    > #PLACEHOLDER {
      color: #ccc;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 80%;
      position: absolute;
      left: 10%;
      bottom: 1em;
    }
  }
  >textarea#JOT-CONTENT {
    @include span-columns(6);
    display: block;
    resize: none;
    top: 0;
    left: 0;
  }
  #MARKDOWN-OUTPUT, #JOT-CONTENT {
    bottom: 5em;
    overflow-y: scroll;
  }
  .button-group {
    position: absolute;
    bottom: 3em;
    height: 2em;
    @include span-columns(12);
    > button, a {
      text-decoration: none;
      border: none;
      color: $grey3;
      background: transparent;
      & > i {font-size: 1.25em;}
      padding: 0.25em 0.5em;
      &:first-child {padding-left: 0;}
      @include transition(color 500ms);
      &:hover {
        color: $orange1;
      }
      &:focus {
        outline: none;
      }
      &[class^="resize-"] {
        float: right;
        margin-right: -0.5em;
      }
    }
  }
}

#MARKDOWN-OUTPUT, #JOT-WINDOW {
  h1, h2, h3, h4, h5, h6 { margin: 0.25em 0 }
  h1 { 
    font-size: 2.5em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }
  h2 { font-size: 2em;}
  h3 { font-size: 1.75em;}
  h4 { font-size: 1.5em;}
  h5 { font-size: 1.25em;}
  h6 { font-size: 1.05em;}
  pre, code {
    * {
      font-family: monospace, monospace;
    }
  }
  blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 0.75em solid $grey1;
  }
  table {
    border: 1px solid $grey1;
    thead, tr:not(:last-child) {
      border-bottom: 1px solid $grey1;
    }
    th, td {
      padding: 0.75em;
      &:not(:last-child) {
        border-right: 1px solid $grey1;
      }
    }
  }
}


#JOT-INFO {
  @include span-columns(10);
  @include shift(1);
  > h1 {
    margin: 0.25em 0;
    float: left;
  }
  > .byline {
    display: inline-block;
    margin: 1.5em 0 0 0.5em;
    color: $grey2;
    > a {
      text-decoration: none;
      font-style: italic;
      color: $grey2;
      &:hover {
        color: $orange1;
        text-decoration: underline;
      }
    }
  }
  > h2 {
    clear: both;
    color: $grey3;
    font-weight: 400;
    font-size: 1.1em;
    padding-bottom: 0.5em;
    margin: 0.25em 0 0;
    border-bottom: 1px solid $grey1;
  }
}
#COMMENTS-HEADER {
  @include span-columns(10);
  @include shift(1);
  > h3 {
    display: inline-block;
  }
  > button.reply {
    outline: none;
    border: none;
    float: right;
    background: transparent;
    font-size: 0.75em;
    color: $grey2;
    padding: 2em 0;
    &:hover {
      color: $orange1;
    }
  }
}
#JOT-WINDOW {
  @include span-columns(10);
  @include shift(1);
  height: 25em;
  overflow-y: scroll;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

#JOT-ACTIONS {
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  background: $grey0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  > li {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.25em 1em; 
    > * {
      color: $grey4;
      &:hover {
        color: $orange1;
      }
    }
  }
}
