form#jot-form {
  font-size: 0.9em;
  display: block;
  position: relative;
  top: 2em;
  height: 95%;
  overflow: hidden;
  > * {
    position: relative;
    top: -3.5em;
  }
  >input, >textarea, div#markdown-output {
    background: $grey1;
    -webkit-appearance: none;
    display: block;
    border-radius: $corner-radius;
    padding: 0.75em 1em 0.75em 1em;
    margin-bottom: 1em; 
    border: none;
    &:focus {
      background: $transparent-grey1;
      outline: none;
    }
    box-shadow: none;
  }
  > input#jot-title {
    @include span-columns(4);
  }
  > input#jot-description {
    @include span-columns(8);
    @include omega(); 
  }
  > div#markdown-output {
    background: $transparent-grey1;
    @include span-columns(6);
    @include omega();
    #_waypoint { 
      visibility: hidden;
      font-size: 0;
    }
    > #placeholder {
      color: #ccc;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 80%;
      position: absolute;
      left: 10%;
      bottom: 1em;
    }
  }
  >textarea#jot-content {
    @include span-columns(6);
    display: block;
    resize: none;
  }
  #markdown-output, #jot-content {
    height: 85%;
    overflow-y: scroll;
  }
  .button-group {
    @include span-columns(12);
    > button {
      border: none;
      color: $grey3;
      background: transparent;
      & > i {font-size: 1.25em;}
      padding: 0.25em 0.5em;
      &:first-child {padding-left: 0;}
      @include transition(color 500ms);
      &:hover {
        color: $orange1;
      }
      &:focus {
        outline: none;
      }
      &[class^="resize-"] {
        float: right;
        margin-right: -0.5em;
      }
    }
  }
}

#markdown-output {
  h1, h2, h3, h4, h5, h6 { margin: 0.25em 0 }
  h1 { 
    font-size: 2.5em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }
  h2 { font-size: 2em;}
  h3 { font-size: 1.75em;}
  h4 { font-size: 1.5em;}
  h5 { font-size: 1.25em;}
  h6 { font-size: 1.05em;}
  pre, code {
    * {
      font-family: monospace, monospace;
    }
  }
}