// Hero banner
.banner {
  #hero-banner {
    text-align: center;
    @include span-columns(10);
    @include shift(1);
    // @include double-border();
    position: absolute;
    height: 75%;
    top: 10%;
    left: 0;
    .logo {
      font-weight: 700;
      font-family: 'Arvo', serif;
      color: $orange1;
      text-shadow: 0.05em 0.075em 0 $grey1;
      letter-spacing: 0.05em;
    }
    > header {
      position: relative;
      height: 100%;
      > h1.logo {
        font-size: 4em;
        position: absolute;
        top: 10%;
        width: 100%;
      }
      > span.subheader {
        color: $grey3;
        position: absolute;
        top: 50%;
        width: 80%;
        left: 10%;
        letter-spacing: 0.08em;
      }
      > a#enter {
        position: absolute;
        width: 10%;
        left: 45%;
        bottom: 10%;
        color: $grey2;
        @include transition(color 500ms);
        > i {font-size: 2em;}
        &:before {
          content: "( enter )";
          position: absolute;
          top: -2em;
          left: 0.95em;
          letter-spacing: 0.05em;
        }
        &:hover {
          color: $orange1;
        }
      }
    }
  }
}
