.jots-nav { 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  @include span-columns(5);
  > header {
    margin-left: 0.5em;
    color: $grey2;
    line-height: 3em;
    > img.user-badge {
      width: 3em;
      border-radius: 2em;
      float: left;
      margin-right: 1em;
    }
    > h2 {
      letter-spacing: 0.01em;
    }
  }
  > ul.jots-list {
    width: 100%;
    margin: 0;  
    padding: 0;
    list-style: none;
    bottom: 3em;
    overflow-y: scroll;
    position: absolute;
    bottom: 3em;
    top: 5.5em;
    > li.jot {
      width: 100%;
      max-height: 6em;
      padding: 1em;
      border-top: 1px solid $grey0;
      overflow-y: hidden;
      &:last-child {border-bottom: 1px solid $grey0;}
      &:hover, &.selected {
        background: $transparent-grey1;
      }
      > h3.jot-title {
        margin: 0;
      }
      > span.jot-description {
        color: $grey3;
        font-size: 0.9em;
      }
    }
  }
}

#JOT-PREVIEW {
  @include span-columns(7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;  
  > header {
    margin-top: 1em;
    width: 100%;
    height: 4.5em;
    // border-bottom: 1px solid $grey0;
    text-align: center;
    z-index: 10;
    > h4#PREVIEW-TITLE {
      margin: 0.25em 0;
    }
    > span#PREVIEW-DESCRIPTION {
      font-size: 0.9em;
    }
  }
  #MARKDOWN-OUTPUT {
    position: absolute;
    width: 100%;
    top: 6em;
    bottom: 3em;
    overflow-y: scroll;
    font-size: 0.9em;
  }
  > footer {
    // border-top: 1px solid $grey0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    > nav {
      > ul {
        list-style-type: none;
        padding: 0;
        > li {
          float: left;
          &.delete { 
            float: right; 
            > a, button {
              outline: none;
              border: none; 
              padding: 0.4em;
              position: relative;
              top: -0.4em;
              color: $grey3;
              border-radius: 2em;
              @include transition(all 500ms);
              &:hover {
                background: $orange1;
                color: white;
              }
            }
          }
          > a {
            text-decoration: none;
            color: $grey3;
            padding: 0.25em 1em 0.25em 0;
            @include transition(color 500ms);
            &:hover {
              color: $orange1;
            }
          }
          > button {
            outline: none;
            border: none;
            background: transparent;
            padding: 0;
            color: $grey3;
            @include transition(color 500ms);
            &:hover {
              color: $orange1;
            }
          }
        }
      }
    }
  }
}

#SEARCH {
  @include span-columns(12);
  margin: 2em 0;
  background: $grey0;
  border: 1px solid $grey0;
  outline: none;
  padding: 1em;
  border-radius: 0.25em;
}
ul.users-list {
  list-style-type: none;
  padding: 0;
  margin-top: 7em;
  > li.user {
    padding: 0.5em 0;
    &:not(:first-child) {
      border-top: 1px solid $transparent-grey1;
    }
    &:hover {
      background: $orange1;
      h3 {color: black;}
      .member-date, .jot-count{ 
        color: white; 
      }
    }
    > a {
      text-decoration: none;
      > figure {
        padding: 0.25em;
        > img {
          float: left;
          width: 4em;
          border-radius: 2em;
          margin-right: 1em;
        }
        > figcaption {
          @include clearfix;
          > h3 {
            color: $grey4;
            margin: 0;  
            font-weight: 100;
          }
          > span.member-date {
            float: right;
            font-size: 0.8em;
            font-style: italic;
            color: $grey3;
          }
          > span.jot-count {
            font-weight: 600;
            color: $orange1;
            margin-top: 1em;
            font-size: 0.9em;
            float: left;
          }
        }
      }
    }
  }
}
