.jots-nav { 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  @include span-columns(5);
  > header {
    margin-left: 0.5em;
    color: $grey2;
    line-height: 3em;
    > img.user-badge {
      width: 3em;
      border-radius: 2em;
      float: left;
      margin-right: 1em;
    }
    > h2 {
      letter-spacing: 0.01em;
    }
  }
  > ul.jots-list {
    margin: 0;  
    padding: 0;
    list-style: none;
    bottom: 3em;
    overflow-y: scroll;
    position: absolute;
    bottom: 3em;
    top: 5.5em;
    > li.jot {
      max-height: 6em;
      padding: 1em;
      border-top: 1px solid $grey0;
      overflow-y: hidden;
      &:last-child {border-bottom: 1px solid $grey0;}
      &:hover, &.selected {
        background: $transparent-grey1;
      }
      > h3.jot-title {
        margin: 0;
      }
      > span.jot-description {
        color: $grey3;
        font-size: 0.9em;
      }
    }
  }
}

#JOT-PREVIEW {
  @include span-columns(7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;  
  > header {
    margin-top: 1em;
    width: 100%;
    height: 4.5em;
    // border-bottom: 1px solid $grey0;
    text-align: center;
    z-index: 10;
    > h4#PREVIEW-TITLE {
      margin: 0.25em 0;
    }
    > span#PREVIEW-DESCRIPTION {
      font-size: 0.9em;
    }
  }
  #MARKDOWN-OUTPUT {
    position: absolute;
    width: 100%;
    top: 6em;
    bottom: 3em;
    overflow-y: scroll;
    font-size: 0.9em;
  }
  > footer {
    // border-top: 1px solid $grey0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    > nav {
      > ul {
        list-style-type: none;
        padding: 0;
        > li {
          float: left;
          &.delete { 
            float: right; 
            > a, button { 
              padding: 0.4em;
              color: $grey3;
              border-radius: 2em;
              @include transition(all 500ms);
              &:hover {
                background: $orange1;
                color: white;
              }
            }
          }
          > a {
            text-decoration: none;
            color: $grey3;
            padding: 0.25em 1em 0.25em 0;
            @include transition(color 500ms);
            &:hover {
              color: $orange1;
            }
          }
          > button#DOWNLOAD {
            outline: none;
            border: none;
            background: transparent;
            padding: 0;
            color: $grey3;
            @include transition(color 500ms);
            &:hover {
              color: $orange1;
            }
          }
        }
      }
    }
  }

}
