// TODO: Remove unnecessary animations and variables

/* Variables */
$orange1: #ed786a;
$grey0: #efefef;
$grey1: #e4e4e4;
$grey2: #bcbcbc;
$grey3: #878787;
$grey4: #777777;
$green: #1FD6A8;
$navy: #2D313C;

$transparent-white1: rgba(255,255,255,0.75);
$transparent-white2: rgba(255,255,255,0.95);
$transparent-grey1: rgba(0,0,0,0.025);
$transparent-grey2: rgba(0,0,0,0.1);
$transparent-grey3: rgba(0,0,0,0.3);
$corner-radius: 0.35em;


/* Mixins */
@mixin double-border() {
  padding-bottom: 1em;
  border-bottom: 2px solid $grey1;
  box-shadow: inset 0px -10px 0px 0px white, inset 0px -12px 0px 0px $grey1;
}

@mixin calc($property, $value) {
  #{$property}: -webkit-calc(#{$value});
  #{$property}:    -moz-calc(#{$value});
  #{$property}:         calc(#{$value});
}

/* Animations */
@include keyframes(blink) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@include keyframes(fadeInUpBig) {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@include keyframes(fadeInDownBig) {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@include keyframes(slideInRight) {
  from {
    @include transform(translateX(2000px));
  }

  to {
    @include transform(translateX(0px))
  }
}

@include keyframes(slideOutRight) {
  from {
    @include transform(translateX(0px));
  }

  to {
    @include transform(translateX(2000px))
  }
}

@include keyframes(slideDown) {
  from {
    @include transform(translateY(0px));
  }

  to {
    @include transform(translateY(2.5em));
  }
}