<form>
  <input type="text" name="username" placeholder="username" required>
  <input type="password" name="password" placeholder="password" required> 
  <button type="submit" class="login"><i class="icon-login-1"></i> Login</button>
  <span>or</span>
  <button type="button" class="signup"><i class="icon-feather"></i> Sign Up</button>
</form>